<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Регистрация</h1>
      <p class="lead">Уже есть аккаунт? <a routerLink="/login">Войти!</a></p>
      <form id="form_id" method="post" action="" (submit)="register()">
        <label class="radio-inline"><input type="radio" name="0" value=false [(ngModel)]="credentials.teacher" checked>Ребенок</label>
        <label class="radio-inline"><input type="radio" name="1" value=true [(ngModel)]="credentials.teacher">Куратор</label>
        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="surname">Фамилия</label>
          <input type="text" class="form-control" name="surname" placeholder="" [(ngModel)]="credentials.surname">
        </div>
        <div class="form-group">
          <label for="dob">Дата Вашего рождения:</label>
          <input type="date" id="dob" name="dob"
                 value="2012-12-12"
                 min="1900-01-01" max="2020-10-1" [(ngModel)]="credentials.dob">
        </div>
        <div class="form-group">
          <label for="inst">Учреждение, к которому вы относитесь</label>
          <input type="text" class="form-control" name="inst" placeholder="" [(ngModel)]="credentials.inst">
        </div>
        <div class="form-group">
          <label for="email">Адрес электронной почты</label>
          <input type="email" id="email" class="form-control" name="email" placeholder="" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="text" class="form-control" name="password" maxlength="30" required [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Создать аккаунт!</button>
      </form>
    </div>
  </div>

</div>
