<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Ваш профиль</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Имя</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Фамилия</label>
          <p class="form-control-static">{{ details?.surname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">DOB</label>
          <p class="form-control-static">{{ details?.dob }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">E-mail</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
      </div>

    </div>

  </div>
</div>
